@charset "UTF-8";
body,
html {
  width: 100%;
  height: 100%;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #007bff;
}

hr.light {
  border-color: #fff;
}

.btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.page-section {
  padding: 8rem 0;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #007bff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #007bff !important;
}

@media (min-width: breakpoint-min(lg, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #007bff;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
  }
}

header.masthead1 {
  position: relative;
  background-color: #343a40;
  background: url("../img/portfolio/fullsize/2.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead1 .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead1 h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead1 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead1 h1 {
    font-size: 3rem;
  }
}

header.masthead3 {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../img/portfolio/fullsize/5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead3 h1 {
  font-size: 2.25rem;
}

@media (min-width: breakpoint-min(lg, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
  header.masthead3 {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead3 p {
    font-size: 1.15rem;
  }
  header.masthead3 h1 {
    font-size: 3rem;
  }
}

@media (min-width: breakpoint-min(xl, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))) {
  header.masthead3 h1 {
    font-size: 3.5rem;
  }
}

#portfolio .container-fluid {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(0, 123, 255, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio
  .container-fluid
  .portfolio-box
  .portfolio-box-caption
  .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio
  .container-fluid
  .portfolio-box
  .portfolio-box-caption
  .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

section#contact2 {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact2 .section-heading {
  color: #fff;
}

section#contact2 .form-group {
  margin-bottom: 25px;
}

section#contact2 .form-group input,
section#contact2 .form-group textarea {
  padding: 20px;
}

section#contact2 .form-group input.form-control {
  height: auto;
}

section#contact2 .form-group textarea.form-control {
  height: 248px;
}

section#contact2 .form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

section#contact2 ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact2 :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact2 ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section#contact2 :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer {
  margin-bottom: 6.656rem;
}

@media screen and (max-width: 576px) {
  footer {
    margin-bottom: 9.625rem;
  }
}

/* 신청 배너 */
#m-banner {
  display: none;
}

#banner {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 6.656rem;
  z-index: 1000;
}

#banner .navbar {
  position: relative;
  padding: 0;
  height: 100%;
}

#banner .navbar .msg-text {
  position: absolute;
  top: 26.7%;
  left: 15%;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.08rem;
  text-align: center;
  color: #0069d9;
}

#banner .navbar .user-input {
  position: absolute;
  top: 22.5%;
  left: 33.5%;
}

#banner .navbar .user-input input {
  display: block;
  width: 14.18rem;
  height: 1.641rem;
}

#banner .navbar .user-input input[placeholder] {
  padding-left: 0.422rem;
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: -0.037rem;
  color: #888;
}

#banner .navbar .user-input input:last-child {
  margin-top: 0.468rem;
}

#banner .navbar .terms {
  position: absolute;
  top: 19.3%;
  left: 53.5%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: left;
}

#banner .navbar .terms input {
  position: relative;
  top: 1.5px;
}

#banner .navbar .terms .terms-agree {
  color: #fffefe;
  position: relative;
  top: -1.5px;
}

#banner .navbar .terms .terms-detail {
  position: relative;
  top: -1.5px;
  font-weight: bold;
  cursor: pointer;
}

#banner .navbar .apply {
  position: absolute;
  top: 22.5%;
  right: 15%;
}

#banner .navbar .apply button {
  border: solid 2px #fff;
  background-color: rgba(255, 255, 255, 0);
  padding: 1.05rem 2.175rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#banner .navbar .apply button:hover {
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 767px) {
  /* 배너 */
  #banner {
    display: none;
  }
  #m-banner {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    z-index: 1000;
  }
  #m-banner .m-banner-content {
    position: relative;
    height: 9.625rem;
  }
  #m-banner .m-banner-content .m-user-input {
    margin-top: 1.375rem;
    position: absolute;
    top: 3.81%;
    left: 5.2%;
  }
  #m-banner .m-banner-content .m-user-input input {
    display: block;
    width: 12.25rem;
    height: 1.688rem;
  }
  #m-banner .m-banner-content .m-user-input input[placeholder] {
    padding-left: 0.563rem;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
    color: #888;
  }
  #m-banner .m-banner-content .m-user-input input:last-child {
    margin-top: 0.625rem;
  }
  #m-banner .m-banner-content .m-terms {
    position: absolute;
    bottom: 18.81%;
    left: 5.2%;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: left;
  }
  #m-banner .m-banner-content .m-terms input {
    position: relative;
    top: 1.5px;
  }
  #m-banner .m-banner-content .m-terms .terms-agree {
    position: relative;
    top: -1.5px;
    color: #fffefe;
  }
  #m-banner .m-banner-content .m-terms .terms-detail {
    position: relative;
    top: -1.5px;
    font-weight: bold;
  }
  #m-banner .m-banner-content .m-apply {
    position: absolute;
    top: 3.81%;
    right: 5.2%;
  }
  #m-banner .m-banner-content .m-apply button {
    margin-top: 1.375rem;
    border: solid 2px #fff;
    background-color: rgba(255, 255, 255, 0);
    width: 7rem;
    height: 4.0125rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  #m-banner .m-banner-content .m-apply button:hover {
    background-color: #fff;
    color: #333;
  }
}

#termsModal .modal-body {
  padding: 0 1rem;
  font-size: 0.8rem;
  white-space: pre-line;
}
